@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.tables.all-records {
    max-height: 300px;
    overflow: auto;
}

.footer_info img {
    height: 100px;
    width: 1px;
}

.footer_logo {
    width: 26%;
    float: left;
}

.footer_logo img {
    width: 180px;
    margin: 20px 0px;
}

.footer {
    background: #420590;
    /* float: left; */
    padding: 10px 0px;
}

.table-padding {
    padding: 10px 0 5px 0;
    margin-bottom: 10px;
}

.header {
    background: #d7dcec;
    padding: 30px 0px;
    margin: 0px 0px 40px;
    width: 100%;
}

.table-padding {
    border-bottom: 3px solid #8b00da;
}

.tables table td {
    font-family: 'Avenir LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    font-family: 'Avenir LT Std';
    font-size: 14px;
    padding: 10px 0px;
    color: #000000;
}

.customer_info {
    padding-top: 10px;
}

footer {
    padding: 10px;
    border-top: 5px solid #CCC;
    margin-top: 30px;
}
.cycle_dropdown .menulist li a {font-size: 16px; }
.cycle_dropdown.open > .menulist.dropdown-menu {overflow: auto; max-height: 300px !important; height: auto; }

.alert-info.datalisting {
    overflow: auto;
}
.specific_numbers_form_field {
    display: none;
}

.specific_sims_form_field {
    display: none;
}
#main .loginform {
    max-width: 100%;
    padding: 50px;
    width: 500px;
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
}
.login-form-heading {
    margin-bottom: 40px;
}
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 77vh;
}